* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(236, 224, 224);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h2 {
  color: rgb(255, 255, 255);
}

/* MENU LATERALE */
.menu {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 20px;
  position: fixed;
  height: 100%;
  width: 270px;
  background-color: #000;
  font-size: 1.2em;
  font-weight: semi-bold;
  color: rgb(148, 145, 145);
}
.menu ul {
  list-style-type: none;
  padding-bottom: 60px;
}

.menu li {
  padding-bottom: 12px;
}
.menu img {
  height: 30px;
  padding-right: 16px;
}

.menu a {
  text-decoration: none;
  color: rgb(148, 145, 145);
}

.menu a:hover {
  text-decoration: none;
  color: rgb(236, 224, 224);
}

.logo img {
  padding-bottom: 30px;
  width: 200px;
  height: auto;
}
.menu3 {
  font-size: 0.5em;
  padding-top: 200px;
}

.lingua{
  border-radius: 60px;
  color: #ffffff;
  padding: 7px 25px 6px 25px;
  border: solid #ffffff 1px;
  text-decoration: none;
  font-size: 0.8rem;
}

/* NAVBAR  */

nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: rgba(16, 16, 16, 0.57) ;

  font-size: 1.5em;

  position: fixed;
  width: 100%;
}

.tasti {
  margin-left: 340px;
  display: flex;
  align-items: center;
}

.navbar__link li:hover {
  transform: scale(1.025);
}

.tasti img {
  height: 32px;
  padding-right: 16px;
}
.navbar__destra {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.navbar__link {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar__link a {
  text-decoration: none;
}

.navbar__link a:hover {
  text-decoration: none;
  color: white;
}

.navbar__link li {
  list-style-type: none;
  padding-right: 16px;
}

.separation {
  font-size: 2em;
}

.accedi {
  background-color: white;

  border-radius: 60px;
  color: #000000;
  background: #ffffff;
  padding: 17px 35px 17px 35px;
  text-decoration: none;
}

.accedi:hover {
  color: black;
}

/* MAIN */
main {
  background-color:rgb(30,30,30);

  padding-top: 80px;
  padding-left: 290px;
}

.cards__top {
  padding: 40px 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

.cards__top a {
  color: rgb(148, 145, 145);
}

.cards__top a:hover {
  color: rgb(255, 255, 255);
}

.cards__top h3 {
  font-size: 1.5em;
}

.cards__caro {
  display: flex;
  overflow: scroll;
}

/* Per nacondere la scrollbar orizzontale */
.cards__caro::-webkit-scrollbar {
  display: none;
}

.cards__caro li {
  padding: 40px;
  margin: 10px;
}

.cards__caro img {
  height: 200px;
}

.cards__caro h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.cards__caro p {
  line-height: 150%;
}

.cards__caro li:hover {
  background-color: rgba(69, 68, 68, 0.57);
}

/* CONTATTI */
.contatti {
  display: flex;
  justify-content: space-between;
  line-height: 2.2em;
  padding: 100px 40px;
}

.contattisx {
  display: flex;
}

.contatti__title {
  color: white;
  font-weight: bold;
}

.utilities {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20%;
  font-size: 1.2em;
}

.social {
  display: flex;
}

.social img {
  width: 40px;
  padding: 20px;
}

/* FOOTER */

footer {
  background-color: rgb(30, 30, 30);
  padding-top: 100px;
  padding-left: 330px;
  padding-bottom: 100px;
}
